<%@hours = @hours.sort_by { |h| h[:day]} %>
<% @hours.each do |h| %>
<li>
	<%if h[:open] == nil %>
		<p><em>fermée le <%=h[:name_of_day]%></em></p>
	<%else%>
		<b><%=h[:name_of_day]%></b>
		<% string = h[:open].to_s %>
		, Ouverture:<%= string[10..15] %>
		<% string = h[:close].to_s %>
		, Fermeture:<%= string[10..15] %>
	<%end%>
<span class="edit">
	<%=link_to " MODIFIEZ", edit_shop_operating_hour_path(@shop.id,h.id), remote: true%></span>
</li>
<%end%>
