<%=simple_form_for @shop , url: {action: "create"} do |f|   %>
	<p> Titre </p>
  <%= f.input  :title, label: "Nom de l'épicerie", error: "Nom de l'épicerie requis s'il vous plait" %>
	<p> Adress </p>
  <%= f.input :adress %>
	<p> Tabac </p>
	<%= f.input :tobacco %>
	<p><%= f.hidden_field :user_id, :value => current_user.id %></p>
<%= f.button :submit%>
<% end %>
