<div class="dashboard-main">
  <div class="container">
  	<h1>L'ÉQUIPE ALIM-ALÔ</h1>
		<div class="members">
	        <%= image_tag("STEPHANE.png", class:"member-1") %>
	        <%= image_tag("AXEL.JPG", class:"member-2") %>
	        <%= image_tag("VICTORIAN.JPG", class:"member-3") %>
	        <%= image_tag("AMBROISE.JPG", class:"member-4") %>
	        <%= image_tag("KARL.JPG", class:"member-5") %>
      	</div>
  </div>
</div>