<%= render "shared/cookie"%>
<div class="wrapper">
  <!-- Sidebar CONTENT -->
  <nav id="sidebar">

    <div id="alimalo-presentation">
      <br>
      <h1 class="motto">BIENVENUE SUR ~ALIM-ALO~</h1><br>
      <h2 class="motto">//Le réseaux des alimentations générales//</h2><br><br>

      <!--       <h2 class="presentation-text">SOMNAMBULES, ANIMAUX </h2>
      <h1 class="presentation-text"> /////SANS SOMMEIL,</h1> <h2 class="presentation-text">INSOMNIAQUES,FÊTARDS CRÉATURES VESPÉRALES//</h2> -->
      <h3 class="presentation-text">Il fait nuit, il fêtard...</h3>
      <h3 class="presentation-text">Trouvez à toute heure l'épicerie la plus proche:</h3>
      <h3 class="presentation-text">Vos alims sont là pour vous, chers amis sans sommeil.</h3>

      <h3></h3>
    </div>

    <div id="shopshow">
      <div class="sidebar-header">
          <%= image_tag ('alim.jpg') %>
      </div>
        
      <ul class="list-unstyled components">
          <div class="etat">
            <h3 id="shop"></h3>
            <h3 id="open"></h3>
          </div>
          <div class="timeline">
            <h3 id="open_hour"></h3>
          	<h3 id="close_hour"></h3>
          </div>

        <li>
          nbr de km API?
          <div id="adress">test ici :</div>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Horaires</a>

          <div id="hour">Les horaires ici : </div>

          <div id="picture">Picture ici : </div>

          <ul class="collapse list-unstyled" id="pageSubmenu">
          </ul>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
      </ul>
    </div>


  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <!-- Sidebar button -->
    <div class="navbar navbar-default ">
      <div class="container-fluid">
        <a id="sidebarCollapse"><span class="hyperspan"></span></a>
      </div>
    </div>

    <!-- Map container -->
    <div id="google-map"></div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

      $("#sidebarCollapse").click(function() {
      if ( $("#sidebar").hasClass("inactive") ) {
          $("#sidebar").removeClass("inactive");
      } else {
          $("#sidebar").addClass("inactive");
          };
      });
    });</script>


<script>
 $(document).ready(function () {

    var pos;

    var myCoords = {lat: 48.86, lng: 2.34}

    var mapOptions = {
      center: myCoords,
      zoom: 13,
      mapTypeControl: false,
          mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
            mapTypeIds: ['roadmap', 'terrain']
          },

      styles: [
                {
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#ffffff"
                    }
                  ]
                },
                {
                  "elementType": "labels.text.stroke",
                  "stylers": [
                    {
                      "color": "#000000"
                    },
                    {
                      "lightness": 13
                    }
                  ]
                },
                {
                  "featureType": "administrative",
                  "elementType": "geometry.fill",
                  "stylers": [
                    {
                      "color": "#000000"
                    }
                  ]
                },
                {
                  "featureType": "administrative",
                  "elementType": "geometry.stroke",
                  "stylers": [
                    {
                      "color": "#144b53"
                    },
                    {
                      "lightness": 14
                    },
                    {
                      "weight": 1.4
                    }
                  ]
                },
                {
                  "featureType": "administrative",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#1ee7e4"
                    }
                  ]
                },
                {
                  "featureType": "administrative.land_parcel",
                  "elementType": "labels",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "landscape",
                  "stylers": [
                    {
                      "color": "#08304b"
                    }
                  ]
                },
                {
                  "featureType": "landscape",
                  "elementType": "labels.text.fill",
                  "stylers": [
                    {
                      "color": "#fbf6f6"
                    }
                  ]
                },
                {
                  "featureType": "poi",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#0c4152"
                    },
                    {
                      "lightness": 5
                    }
                  ]
                },
                {
                  "featureType": "poi",
                  "elementType": "geometry.fill",
                  "stylers": [
                    {
                      "color": "#084a69"
                    }
                  ]
                },
                {
                  "featureType": "poi",
                  "elementType": "labels.text",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "poi.medical",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "road.arterial",
                  "elementType": "geometry.fill",
                  "stylers": [
                    {
                      "color": "#000000"
                    }
                  ]
                },
                {
                  "featureType": "road.arterial",
                  "elementType": "geometry.stroke",
                  "stylers": [
                    {
                      "color": "#3a1738"
                    },
                    {
                      "lightness": 15
                    }
                  ]
                },
                {
                  "featureType": "road.arterial",
                  "elementType": "labels.icon",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "road.highway",
                  "elementType": "geometry.fill",
                  "stylers": [
                    {
                      "color": "#000000"
                    }
                  ]
                },
                {
                  "featureType": "road.highway",
                  "elementType": "geometry.stroke",
                  "stylers": [
                    {
                      "color": "#0b434f"
                    },
                    {
                      "lightness": 25
                    }
                  ]
                },
                {
                  "featureType": "road.highway",
                  "elementType": "labels.icon",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "road.local",
                  "stylers": [
                    {
                      "color": "#ffe800"
                    }
                  ]
                },
                {
                  "featureType": "road.local",
                  "elementType": "geometry",
                  "stylers": [
                    {
                      "color": "#000000"
                    }
                  ]
                },
                {
                  "featureType": "road.local",
                  "elementType": "labels",
                  "stylers": [
                    {
                      "visibility": "off"
                    }
                  ]
                },
                {
                  "featureType": "transit",
                  "stylers": [
                    {
                      "color": "#146474"
                    }
                  ]
                },
                {
                  "featureType": "water",
                  "stylers": [
                    {
                      "color": "#021019"
                    }
                  ]
                }
                ]};

// create and display map in google-map div element, named "mymap"
var mymap = new google.maps.Map(document.getElementById('google-map'), mapOptions);

// class for custom marker "pulse", with CSS pulse
class MyPosition extends google.maps.OverlayView {

    constructor (pos, map) {
        super()
        this.div = null
        this.pos = pos
        this.setMap(map)
    }

    onAdd () {
        this.div = document.createElement('div')
        this.div.style.position = 'absolute';
        this.div.classList.add('pulse')
        this.getPanes().overlayImage.appendChild(this.div)
    }

    draw () {
        let position = this.getProjection().fromLatLngToDivPixel(this.pos)
        this.div.style.left = position.x + "px"
        this.div.style.top = position.y + "px"
    }

    onRemove () {
        this.div.parentNode.removeChild(this.div)
    }

}

// Try HTML5 geolocation
if (navigator.geolocation) {
navigator.geolocation.getCurrentPosition(function(position) {
    var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
    new MyPosition(pos, mymap);
    mymap.setCenter(pos);
     }, function() {
    handleLocationError(true, MyPosition, mymap.getCenter());
    });

} else {
    // Browser doesn't support Geolocation
    handleLocationError(false, MyPosition, mymap.getCenter());
}

// initiate variables
i = 1;
var markers=[];
// var contents = [];
var infowindows = [];
    

// loop to 1) display all markers 2) wait for click on markers (event listener) and return correct shop.id
<% @shops.each do |shop| %>

  // condition to handle geocoder gem fails
  <% if !shop.latitude.to_s.empty? && !shop.longitude.to_s.empty? %>

    // put markers for each shop in database
    markers[i] = new google.maps.Marker({
      position: new google.maps.LatLng(<%=shop.latitude%>, <%=shop.longitude%>),
      map: mymap,
      title: "<%= shop.id %>"
    });

    // add index property on current marker. Needed for event listener : When user clicks on marker, the event listener returns the correct shop id
    markers[i].index = i;


    /////// main function triggered when user clicks on a shop (marker) ///////////////////////////////
    google.maps.event.addListener(markers[i], 'click', function() {

        // infowindows[this.index].open(mymap,markers[this.index]);
        mymap.panTo(markers[this.index].getPosition());

        // on click marker, reveal sidebar
        if ( $("#sidebar").hasClass("inactive") ) {
            $("#sidebar").removeClass("inactive")
        };

        // on click, hide welcome message in sidebar
        $("#alimalo-presentation").hide();

        // send clicked shop info to sidebar
        document.getElementById("shop").innerHTML = "<%=shop.title%>";

				<%if shop.open? %>
        	document.getElementById("open").innerHTML = "OUVERT";
        <% else%>
					document.getElementById("open").innerHTML = "FERMÉ";
				<%end%>
				<%time_hour = Time.now.strftime('%H:%M')%>
				<% if time_hour > '00:00' and time_hour < '07:00' %>
					<% day = Time.now.advance(days: -1).strftime('%w') %>
				<% else %>
					<% day = Time.now.strftime('%w')%>
				<% end %>

				<% hour = shop.operating_hours.find_by(day: day)%>
        document.getElementById("open_hour").innerHTML = "<%= hour[:open].strftime('%H:%M')%>";
        document.getElementById("close_hour").innerHTML = "<%= hour[:close].strftime('%H:%M')%>";

				<% if shop.close_soon?%>
        	document.getElementById("close_soon").innerHTML = "VA BIENTÔT FERMER>";
       <%end%> 

    });

   <% end %>
   i++;
<% end %>


});


</script>
