<%= render "shared/cookie"%>
<div class="wrapper">
  <!-- Sidebar CONTENT -->
  <nav id="sidebar">

    <div id="alimalo-presentation">
      <br>
      <h2 class="motto">//Le réseau des alimentations générales//</h2><br><br>

      <!--       <h2 class="presentation-text">SOMNAMBULES, ANIMAUX </h2>
      <h1 class="presentation-text"> /////SANS SOMMEIL,</h1> <h2 class="presentation-text">INSOMNIAQUES,FÊTARDS CRÉATURES VESPÉRALES//</h2> -->
      <h3 class="presentation-text">Il fait nuit, il fêtard...</h3>
      <h3 class="presentation-text">Trouvez à toute heure l'épicerie la plus proche qui est encore ouverte:</h3>
      <h3 class="presentation-text">Vos épiciers sont là pour vous.</h3>

      <h3></h3>
    </div>

    <div id="shopshow">
      <div class="sidebar-header" id="image"></div>
        
      <ul class="list-unstyled components">
          <div class="info">
            <div class="info-name">
              <h3 id="shop"></h3>
              <h5 id="adress"></h5>
            </div>
            <div class="timeline">
              <h3 id="open" ></h3>
              <h3 id="open_hour" class="float-right"></h3>
              <h3 id="close_hour" class="float-right"></h3>
            </div>
          </div><br>

          <div class="second-line">
            <div class="itinerary">
              <h5><a href="#">ITINÉRAIRE</a></h5>
            </div>
            <div id="distance-shop">
              <h2 id="distanceHtml"></h2> 
              <h5 class="float-right">km</h5>
            </div>
          </div>
      </ul>
    </div>


  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <!-- Sidebar button -->
    <div class="navbar navbar-default" id="button-sidebar">
      <div class="container-fluid">
        <a id="sidebarCollapse"><span class="hyperspan"></span></a>
      </div>
    </div>

    <!-- Map container -->
    <div id="google-map"></div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

      $("#sidebarCollapse").click(function() {
      if ( $("#sidebar").hasClass("inactive") ) {
          $("#sidebar").removeClass("inactive");
      } else {
          $("#sidebar").addClass("inactive");
          };
      });
    });</script>


<script>
 $(document).ready(function () {

    // default location (Paris) if no geolocation
    var myCoords = {lat: 48.86, lng: 2.34}

    var mapOptions = {
      center: myCoords,
      zoom: 12,
      mapTypeControl: false,
          mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
            mapTypeIds: ['roadmap', 'terrain']
          },

      styles: [
                  {
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#ffffff"
                      }
                    ]
                  },
                  {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                      {
                        "color": "#000000"
                      },
                      {
                        "lightness": 13
                      }
                    ]
                  },
                  {
                    "featureType": "administrative",
                    "elementType": "geometry.fill",
                    "stylers": [
                      {
                        "color": "#000000"
                      }
                    ]
                  },
                  {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [
                      {
                        "color": "#144b53"
                      },
                      {
                        "lightness": 14
                      },
                      {
                        "weight": 1.4
                      }
                    ]
                  },
                  {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#1ee7e4"
                      }
                    ]
                  },
                  {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "featureType": "landscape",
                    "stylers": [
                      {
                        "color": "#08304b"
                      }
                    ]
                  },
                  {
                    "featureType": "landscape",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#fbf6f6"
                      }
                    ]
                  },
                  {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                      {
                        "color": "#0c4152"
                      },
                      {
                        "lightness": 5
                      }
                    ]
                  },
                  {
                    "featureType": "poi",
                    "elementType": "geometry.fill",
                    "stylers": [
                      {
                        "color": "#084a69"
                      }
                    ]
                  },
                  {
                    "featureType": "poi",
                    "elementType": "labels.text",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "featureType": "poi.attraction",
                    "elementType": "labels.icon",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "featureType": "poi.business",
                    "elementType": "labels.icon",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "featureType": "poi.medical",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "featureType": "poi.place_of_worship",
                    "elementType": "labels.icon",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "featureType": "poi.school",
                    "elementType": "labels.icon",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "featureType": "poi.sports_complex",
                    "elementType": "labels.icon",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "featureType": "road.arterial",
                    "elementType": "geometry.fill",
                    "stylers": [
                      {
                        "color": "#000000"
                      },
                      {
                        "weight": 2.5
                      }
                    ]
                  },
                  {
                    "featureType": "road.arterial",
                    "elementType": "geometry.stroke",
                    "stylers": [
                      {
                        "color": "#3a1738"
                      },
                      {
                        "lightness": 15
                      }
                    ]
                  },
                  {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "featureType": "road.arterial",
                    "elementType": "labels.text",
                    "stylers": [
                      {
                        "weight": 2
                      }
                    ]
                  },
                  {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [
                      {
                        "color": "#000000"
                      }
                    ]
                  },
                  {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                      {
                        "color": "#0b434f"
                      },
                      {
                        "lightness": 25
                      }
                    ]
                  },
                  {
                    "featureType": "road.highway",
                    "elementType": "labels.icon",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "featureType": "road.local",
                    "stylers": [
                      {
                        "color": "#ffe800"
                      }
                    ]
                  },
                  {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [
                      {
                        "color": "#000000"
                      }
                    ]
                  },
                  {
                    "featureType": "road.local",
                    "elementType": "labels",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "featureType": "transit",
                    "stylers": [
                      {
                        "color": "#146474"
                      }
                    ]
                  },
                  {
                    "featureType": "transit.line",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                      {
                        "saturation": -100
                      },
                      {
                        "weight": 8
                      }
                    ]
                  },
                  {
                    "featureType": "transit.station.rail",
                    "elementType": "labels.text",
                    "stylers": [
                      {
                        "saturation": -20
                      }
                    ]
                  },
                  {
                    "featureType": "transit.station.rail",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "saturation": -100
                      },
                      {
                        "lightness": -90
                      }
                    ]
                  },
                  {
                    "featureType": "transit.station.rail",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                      {
                        "saturation": 45
                      }
                    ]
                  },
                  {
                    "featureType": "water",
                    "stylers": [
                      {
                        "color": "#021019"
                      }
                    ]
                  }
                ]};

// create and display map in google-map div element, named "mymap"
var mymap = new google.maps.Map(document.getElementById('google-map'), mapOptions);

// class for custom marker "pulse", with CSS pulse
class MyPosition extends google.maps.OverlayView {

    constructor (pos, map) {
        super()
        this.div = null
        this.pos = pos
        this.setMap(map)
    }

    onAdd () {
        this.div = document.createElement('div')
        this.div.style.position = 'absolute';
        this.div.classList.add('pulse')
        this.getPanes().overlayImage.appendChild(this.div)
    }

    draw () {
        let position = this.getProjection().fromLatLngToDivPixel(this.pos)
        this.div.style.left = position.x + "px"
        this.div.style.top = position.y + "px"
    }

    onRemove () {
        this.div.parentNode.removeChild(this.div)
    }

}

/////////////////////////////////////////////////////////////////////////////////
// geolocation AND functions depending on it (distance, stylay overlay marker...)
//////////////////////////////////////////////////////////////////////////////////

// every map instructions must depend on geolocation function so that they have access to geolocation position, because geolocation is a callback function
function parent(){

  console.log("la fonction parent est lancée");

  var geoposnew;

  function success(position) {
    console.log("la fonction success est déclenchée, la géoloc marche");
    // position = geoposnew;
    geoposnew = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

    // center map, geoposition in the middle
    mymap.setCenter(geoposnew);

    // create custom overlay Marker on geolocalisation
    new MyPosition(geoposnew, mymap);

    displayAllMarkersAndWaitForClick(geoposnew, position);
  }

  function error () {
    console.log("impossible de géolocaliser");
  }

  navigator.geolocation.getCurrentPosition(success, error)


  // display all shops and event listener
  function displayAllMarkersAndWaitForClick(geoposnew, position) {

          // initiate variables
          i = 1;
          var markers=[];
          // var contents = [];
          // var infowindows = [];

          // loop to 1) display all markers 2) wait for click on markers (event listener) and return correct shop.id
          <% @shops.each do |shop| %>

          // condition to handle geocoder gem fails
          <% if !shop.latitude.to_s.empty? && !shop.longitude.to_s.empty? %>

            <%if shop.open? %>
            // put markers for each shop in database
            markers[i] = new google.maps.Marker({
              position: new google.maps.LatLng(<%=shop.latitude%>, <%=shop.longitude%>),
              map: mymap,
              title: "<%= shop.id %>"
            });

            <%else%>
            markers[i] = new google.maps.Marker({
            position: new google.maps.LatLng(<%=shop.latitude%>, <%=shop.longitude%>),
            map: mymap,
            title: "<%= shop.id %>",
            opacity:0.2,
            });
            <%end%>

            // add index property on current marker. Needed for event listener : When user clicks on marker, the event listener returns the correct shop id
            markers[i].index = i;


            /////// main function triggered when user clicks on a shop (marker) ///////////////////////////////
            google.maps.event.addListener(markers[i], 'click', function() {

                // infowindows[this.index].open(mymap,markers[this.index]);
                mymap.panTo(markers[this.index].getPosition());

                // on click marker, reveal sidebar
                if ( $("#sidebar").hasClass("inactive") ) {
                    $("#sidebar").removeClass("inactive")
                };

                // on click, hide welcome message in sidebar
                $("#alimalo-presentation").hide();

                // send clicked shop info to sidebar
                document.getElementById("shop").innerHTML = "<%=shop.title%>";

                document.getElementById("adress").innerHTML = "<%=shop.adress%>"


                <%if shop.open? %>

                  document.getElementById("open").innerHTML = "<span style='color:#33FF00'>OUVERT</span>";
                <% else%>

                  document.getElementById("open").innerHTML = "<span style='color:purple'>FERMÉ</span>";
                <%end%>
                <%time_hour = Time.now.strftime('%H:%M')%>
                <% if time_hour > '00:00' and time_hour < '07:00' %>
                  <% day = Time.now.advance(days: -1).strftime('%w') %>
                <% else %>
                  <% day = Time.now.strftime('%w')%>
                <% end %>

                <% hour = shop.operating_hours.find_by(day: day)%>
                document.getElementById("open_hour").innerHTML = "<%= hour[:open].strftime('%H:%M')%>";
                document.getElementById("close_hour").innerHTML = "<%= hour[:close].strftime('%H:%M')%>";

                <%# if shop.close_soon?%>
                  //document.getElementById("close_soon").innerHTML = "VA BIENTÔT FERMER>";
               <%#end%>


            //////////////////////////////////////////////////////////////////////////


              function calculateDistance(html5positionObject, shopLat, shopLong){
               // var longitude = position.coords.longitude; 

               console.log("on est dans une distance DYNAMIQUE");

               // calculate distance between 4 hard coded geo points
               function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
                    var R = 6371; // Radius Earth in km
                    var dLat = deg2rad(lat2-lat1);  // deg2rad (see below)
                    var dLon = deg2rad(lon2-lon1); 
                    var a = 
                      Math.sin(dLat/2) * Math.sin(dLat/2) +
                      Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * 
                      Math.sin(dLon/2) * Math.sin(dLon/2); 
                    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
                    var d = R * c; // Distance in km
                    
                    return d;
                    }

                    function deg2rad(deg) {
                    return deg * (Math.PI/180);
                }

              // send dynamic geo points to get Distance from lat long function
              var dynamicDistanceComplete = getDistanceFromLatLonInKm(html5positionObject.coords.latitude, html5positionObject.coords.longitude,<%=shop.latitude%>,<%=shop.longitude%>);

              console.log("ceci est dynamic distance complete", dynamicDistanceComplete);
              var distanceTruncated = dynamicDistanceComplete.toFixed(1);
              document.getElementById("distanceHtml").innerHTML = distanceTruncated;

              }

              calculateDistance(position, <%=shop.latitude%>, <%=shop.longitude%>);

            });

           <% end %>
           i++;
        <% end %>

  }

};

parent();

});


</script>
