<div class="modal fade" id="logInModal">
      <div class="modal-dialog">
        <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Log In</h5>
                <button type="button" class="close" data-dismiss="modal">
                      <span>&times;</span>
                </button>
              </div>
              <div class="modal-body">    
                <div>
                    <h1>Log In</h1>
                    <br>
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="wrap">
                              <div class="field">
                                <label for="email">Email</label>
                                <%= f.email_field :email %>
                              </div>
                        
                             <div class="field">
                                <label for="password">Password</label>
                                <%= f.password_field :password, autocomplete: "off" %>
                              </div><br>

                              <div>
                                  <% if devise_mapping.rememberable? -%>
                                    <div class="field">
                                          <%= f.check_box :remember_me %>
                                          <%= f.label :remember_me %>
                                    </div>
                                  <% end -%>     
                              </div>

                            <div>
                              <%= f.submit "Log in", class: 'btn btn-primary' %>
                            </div> 

                            <div>
                                <% render "devise/shared/links" %>
                            </div>
                            
                        </div>
                      <% end %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
        </div>
    </div>
</div>